.header{
  background-color: black;
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}
*{
  margin: 0;
  padding: 0;
  font-family: arial;
  color: white;
}
.about,.others,.stories{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
}
/* .stories{ */
  /* margin-right: 100px; */
/* } */
.header div:not(.img){
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s;
  padding: 10px;
  width: 150px;
  font-size: 14px;
  font-weight: bold;
}
.header a{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.img{
  cursor: pointer;
  padding: 10px;
  justify-content: center;
}
.img :hover{
  background-color: black;
}
.header div:hover:not(.img){
  background-color: #7a7a7a;
}

.gird{
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 10px;
  background-image: url(download.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 10px;
}
.my-image{
  height: 120px;
  width: 100px;
  border-radius: 50%;
}
body{
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 100px;
}
.glowing-fuck{
  font-family: Pacifico,cursive;
  font-size: 30px;
  animation: cool 0.15s infinite alternate;
}
@keyframes cool{
  0%{
    color: white;
    text-shadow: 0px 0px 10px white,0px 0px 25px white,0px 0px 75px red,0px 0px 10px red;
  }
  50%{
    color: white;
    text-shadow: 0px 0px 10px white,0px 0px 25px white,0px 0px 75px blue,0px 0px 10px blue;
  }
  100%{
    color: white;
    text-shadow: 0px 0px 10px#e6fb04,0px 0px 20px#ff6600,0px 0px 30px#00ff66,0px 0px 50px#00ffff,
    0px 0px 40px#ff00ff,0px 0px 60px#ff0099,0px 0px 70px#6e0dd0,0px 0px 10px#ff3300,0px 0px 90px#099fff;
  }
}
.roject-section{
  margin-top: 20px;
}
.project-section{
  display: flex;
  flex-direction: row;
  /* display: block; */
  /* height: 300px; */
  justify-content: space-between;
  /* align-items: center; */
  /* border: solid blue;4*/
}
.project-section div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid blue; */
  padding: 5px;
  transition: all 0.15s;
  color: white;
}
.project-section div:hover{
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}
.about-projects{
  text-align: right;
}
.about-projects div{
  margin-bottom: 50px;
  margin-top: 50px;
  transition: all 1s;
  color: #fff;
}
.about-projects div:hover:not(.Table-cool){
  font-size: 20px;
  color: rgb(0, 195, 255);
}
.Table-cool{
  transition: all 1s;
}
.Table-cool:hover{
  font-size: 30px;
  color: rgb(238, 255, 0);
}
body{
  /* background-color: rgb(230, 230, 230); */
  background: url(cool.jpg);
  /* padding-bottom: 100000px; */
  padding-bottom: 200px;
}
 .fgbwrjhgergfdgjkfdgjfgfiugfdgkhfgdkjgsdfu{
   transition: all 0.15s;
 }
 .fgbwrjhgergfdgjkfdgjfgfiugfdgkhfgdkjgsdfu:hover{
   color: blue;
 }
 h1{
   text-align: center;
   margin: 20px;
   font-family: fantasy;
   background-image: linear-gradient(45deg,red,yellow,green,lightblue,purple);
   color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
   text-decoration: underline;
 }
 .thank-you{
   background-image: linear-gradient(45deg,#00f7ff,rgb(255, 217, 0));
   background-size: 400%;
   animation: gqefgn 0.15s infinite alternate;
   color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
 }
 @keyframes gqefgn{
   from{
     background-position: bottom left;
   }
   to{
     background-position: top right;
   }
 }